body {
    background-color: #ffffff;
    height: 100vh;
    display: block; 
}

.main-container {
    background-color: #ffffff;
    
    width: 99%;
    max-width: none;
    height: 95%;
    margin: 0;
    box-shadow: none;
    
    display: grid;
    grid-template-columns: 200px 1fr;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    height: 100%;
    align-items: center;
}

.avatar-container {
    margin-bottom: 0;
    width: 120px;
    height: 120px;
    background-color: #dcdcdc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.welcome-text {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.user-view, .admin-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-btn {
    width: 100%;
    background-color: #707070;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #555;
}

.menu-btn a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.section-content {
    background-color: #dcdcdc;
    margin: 0px 0px 0px 20px;
}

.menu-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5px;
}